@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  width: 1050px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 160px 0px 160px 0px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
}

.text-package h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #252b42;
  white-space: nowrap;
  padding-top: 15px;
}

.text-package p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
  padding-top: 15px;
}

.text-package a {
    
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #96bb7c;
  text-decoration: none;
  padding-top: 15px;
}

.text-package a:hover {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #96bb7c;
  text-decoration: underline;
  padding-top: 15px;
}

.red-line {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}

.right-cards {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.teacher-card,
.expart-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  flex: 0 0 180px;
  height: 292px;
}

.icon {
  width: 70px !important;
  height: 76px !important;
  padding: 19px 16px;
  border-radius: 10px;
  background-color: #96bb7c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 32px !important;
  height: 32px !important;
}

h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #252b42;
}

.teacher-card .red-line,
.expart-card .red-line {
  width: 50px;
  height: 2px;
  background-color: #e74040;
}

.teacher-card p,
.expart-card p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
}
