.courses-container {
  width: 1050px;
  margin-top: 300px;
  margin-left: 400px;
  margin-right: 400px;
}

.green-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #96bb7c;
}
.courses-text h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
}
.newtonion {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.courses-card {
  width: Fixed (508px) px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.courses-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 80px;
    gap: 10px;
  }
  
.courses-card-item img {
  width: 128px;
  height: 128px;
  border-radius: 200px;
}
.courses-card-item p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}
.ratings {
  display: flex;
  gap: 5px;
}

h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
  margin-top: 10px;
  margin-bottom: 0;

}
h6 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
  margin: 0;
}
